<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %} - Volunteer and AT Opportunities</title>
  <link rel="stylesheet" crossorigin href="{{ url_for('static', filename='dist/assets/index-vfIlkGWo.css') }}">
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.ico">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="{{ url_for('static', filename='dist/favicon.ico') }}">
  <title>Volunteer and AT Opportunities</title>
</head>
<body>
  <style media="screen">
    .auth-content {
      max-width: 500px;
      width: 100%;
      margin: auto;
    }
    .auth-content input {
      width: 100%;
      font-size: 1em;
      padding: 5px;
      border-radius: 5px;
    }
    .submit-button input {
      margin-top: 15px;
      width: auto;
      font-weight: bold;
      cursor: pointer;
      padding: 10px 20px;
    }
    .submit-button {
      text-align: right;
    }
    .auth-content .label {
      margin-top: 10px;
      margin-bottom: 5px;
    }
  </style>
  <section class="auth-content">
    <header>
      {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
  </section>
</body>
</html>
